config_file_profile      = "DEFAULT"
region                   = "eu-frankfurt-1"
tenancy_ocid             = "ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
compartment_ocid         = "ocid1.compartment.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
ssh_public_key           = "ssh-rsa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
cluster_size             = 1050
broadcast_refresh_update = 50
instances_per_node       = 2
num_instances            = 2
server_url               = "https://xxxxxxx-xxxxx.adb.xx-xxxxx-x.oraclecloudapps.com/ords/picluster/AR/v2"